USE [KwMobile]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 08/12/2016 23:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NULL,
	[passwd] [nvarchar](100) NULL,
	[name] [nvarchar](100) NULL,
	[phone] [int] NULL,
	[address] [nvarchar](200) NULL,
	[lv] [int] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_7F60ED59] ON [dbo].[KhachHang]([email]) WITH STATS_STREAM = 0x010000000100000000000000000000003D6CB447000000004F020000000000000F02000000000000E7020000E7000000C80000000000000008D0003400000000070000008C438D0012A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000010420000803F000000000000104200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000043000000000000009B00000000000000A3000000000000000800000000000000300010000000803F000000000000803F04000001003B0074006F00700031007000680069006D00400067006D00610069006C002E0063006F006D00FF01000000000000000100000001000000280000002800000000000000000000001200000074006F00700031007000680069006D00400067006D00610069006C002E0063006F006D000200000040000000000112000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_7F60ED59] ON [dbo].[KhachHang]([passwd]) WITH STATS_STREAM = 0x01000000010000000000000000000000FE12F9ED000000002702000000000000E701000000000000E7020000E7000000C80000000000000008D00034000000000700000087438D0012A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F0400000100270037003500340033003500380037003900FF010000000000000001000000010000002800000028000000000000000000000008000000370035003400330035003800370039000200000040000000000108000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_7F60ED59] ON [dbo].[KhachHang]([name]) WITH STATS_STREAM = 0x010000000100000000000000000000009F3F1554000000002302000000000000E301000000000000E7020000E7000000C80000000000000008D0003400000000070000007E438D0012A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100250041006E00680020005400E0006900FF01000000000000000100000001000000280000002800000000000000000000000700000041006E00680020005400E00069000200000040000000000107000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_7F60ED59] ON [dbo].[KhachHang]([phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000501426DB00000000CB010000000000008B01000000000000380286863800000004000A00000000000000000053007400070000007A438D0012A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803FBF830F3A0400000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_7F60ED59] ON [dbo].[KhachHang]([address]) WITH STATS_STREAM = 0x010000000100000000000000000000009602AE76000000002702000000000000E701000000000000E7020000E7000000900100000000000008D00034000000000700000070438D0012A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002700440061006B0020004E006F006E006700FF010000000000000001000000010000002800000028000000000000000000000008000000440061006B0020004E006F006E0067000200000040000000000108000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_7F60ED59] ON [dbo].[KhachHang]([lv]) WITH STATS_STREAM = 0x010000000100000000000000000000001C45E06900000000CB010000000000008B01000000000000380286863800000004000A000000000000000000530074000700000070438D0012A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
UPDATE STATISTICS [dbo].[KhachHang]([PK_user]) WITH STATS_STREAM = 0x01000000010000000000000000000000788CFD1B00000000CB010000000000008B01000000000000380386863800000004000A000000000000000000530074000700000084C9710117A4000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([user_id], [email], [passwd], [name], [phone], [address], [lv]) VALUES (1, N'thachhnph00764', N'123123', N'Thachhnph00764', 906299493, N'Yen Bai', 1)
INSERT [dbo].[KhachHang] ([user_id], [email], [passwd], [name], [phone], [address], [lv]) VALUES (11, N'kinlee2471993@gmail.com', N'123123', N'Phuong', 905152541, N'Yen Bai', 0)
INSERT [dbo].[KhachHang] ([user_id], [email], [passwd], [name], [phone], [address], [lv]) VALUES (12, N'binlee2471993', N'123123', N'Khanh', 905412143, N'Ha Noi', 0)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[HoaDon]    Script Date: 08/12/2016 23:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [nchar](10) NOT NULL,
	[makh] [nchar](10) NULL,
	[tenkh] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_36B12243] ON [dbo].[HoaDon]([makh]) WITH STATS_STREAM = 0x01000000010000000000000000000000BCCC43CC000000002B02000000000000EB01000000000000EF025F00EF000000140000000000000008D00034000000000700000059E1660160A6000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F7000680020002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000007000680020002000200020002000200020002000020000004000000000010A000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_36B12243] ON [dbo].[HoaDon]([tenkh]) WITH STATS_STREAM = 0x01000000010000000000000000000000133FD039000000002302000000000000E301000000000000E7025F00E7000000640000000000000008D00034000000000700000059E1660160A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F040000010025007400680061006300680068006E00FF0100000000000000010000000100000028000000280000000000000000000000070000007400680061006300680068006E000200000040000000000107000000000100000000000000
GO
UPDATE STATISTICS [dbo].[HoaDon]([PK_KhachHang]) WITH STATS_STREAM = 0x010000000100000000000000000000001CC49383000000002B02000000000000EB01000000000000EF035F00EF000000140000000000000008D000340000000007000000F12F650160A6000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F3100310031002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000003100310031002000200020002000200020002000020000004000000000010A000000000100000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
INSERT [dbo].[HoaDon] ([id], [makh], [tenkh]) VALUES (N'01        ', N'KH01      ', N' Hoang Ngoc Thach')
INSERT [dbo].[HoaDon] ([id], [makh], [tenkh]) VALUES (N'02        ', N'KH02      ', N'Phuong')
INSERT [dbo].[HoaDon] ([id], [makh], [tenkh]) VALUES (N'03        ', N'KH03      ', N'Tuan')
/****** Object:  Table [dbo].[Chitiethoadon]    Script Date: 08/12/2016 23:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitiethoadon](
	[id] [nchar](10) NOT NULL,
	[mahd] [nchar](10) NULL,
	[masp] [nchar](10) NULL,
	[sotien] [nvarchar](50) NULL,
 CONSTRAINT [PK_Chitiethoadon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_38996AB5] ON [dbo].[Chitiethoadon]([mahd]) WITH STATS_STREAM = 0x0100000001000000000000000000000098D50A8B0000000076020000000000003602000000000000EF020000EF000000140000000000000008D000340000000007000000DCB47B0160A6000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000C200000000000000CA0000000000000010000000000000003700000000000000100024000000803F000000000000803F3000310020002000200020002000200020002000040000100024000000803F000000000000803F3000320020002000200020002000200020002000040000FF01000000000000000200000002000000280000002800000000000000000000001300000030003100200020002000200020002000200020003200200020002000200020002000200020000400000040000000004001000000810901000001090A0000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_38996AB5] ON [dbo].[Chitiethoadon]([masp]) WITH STATS_STREAM = 0x0100000001000000000000000000000001048FA60000000072020000000000003202000000000000EF020000EF000000140000000000000008D000340000000007000000DCB47B0160A6000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BE00000000000000C60000000000000010000000000000003700000000000000100024000000803F000000000000803F5300500030003100200020002000200020002000040000100024000000803F000000000000803F5300500030003200200020002000200020002000040000FF010000000000000002000000020000002800000028000000000000000000000011000000530050003000310020002000200020002000200032002000200020002000200020000400000040000000004003000000810703000001070A0000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_38996AB5] ON [dbo].[Chitiethoadon]([sotien]) WITH STATS_STREAM = 0x01000000010000000000000000000000501C1A67000000005B020000000000001B02000000000000E7020000E7000000640000000000000008D000340000000007000000D7B47B0160A6000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000040410000004000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005600000000000000A700000000000000AF0000000000000010000000000000003300000000000000300010000000803F000000000000803F04000001002300320030003000330030003200300010000000803F000000000000803F04000001002300350030003000300030003000FF01000000000000000200000002000000280000002800000000000000000000000C00000032003000300033003000320035003000300030003000300003000000400000000081060000000106060000000200000000000000
GO
UPDATE STATISTICS [dbo].[Chitiethoadon]([PK_Chitiethoadon]) WITH STATS_STREAM = 0x010000000100000000000000000000001B0F29B9000000002B02000000000000EB01000000000000EF035F00EF000000140000000000000008D000340000000007000000CAA77B0160A6000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F3000310020002000200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000003000310020002000200020002000200020002000020000004000000000010A000000000100000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
INSERT [dbo].[Chitiethoadon] ([id], [mahd], [masp], [sotien]) VALUES (N'01        ', N'01        ', N'SP01      ', N'500000')
INSERT [dbo].[Chitiethoadon] ([id], [mahd], [masp], [sotien]) VALUES (N'02        ', N'02        ', N'SP02      ', N'300000')
INSERT [dbo].[Chitiethoadon] ([id], [mahd], [masp], [sotien]) VALUES (N'03        ', N'03        ', N'SP03      ', N'200000')
/****** Object:  Table [dbo].[category]    Script Date: 08/12/2016 23:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_30F848ED] ON [dbo].[category]([category_name]) WITH STATS_STREAM = 0x010000000100000000000000000000009F3C89AA00000000F402000000000000B402000000000000E7020000E7000000C80000000000000008D000340000000007000000B8E57C003BA40000050000000000000005000000000000000000803FCDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000009A9959410000A040000000009A995941000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B4000000000000004001000000000000480100000000000020000000000000004B000000000000006E000000000000008F00000000000000300010000000803F000000000000803F04000001002B0010016900C71E6E002000740068006F00A11E6900300010000000803F0000803F0000803F040000010023004C006100700074006F007000300010000000803F000000000000803F040000010021004E006F006B0069006100300010000000803F000000000000803F04000001002500530061006D00530075006E006700FF01000000000000000500000005000000280000002800000000000000000000002200000010016900C71E6E002000740068006F00A11E69006900500068006F006E0065004C006100700074006F0070004E006F006B0069006100530061006D00530075006E006700060000004000000000810A00000081060A00008106100000810516000001071B0000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_30F848ED] ON [dbo].[category]([parent_id]) WITH STATS_STREAM = 0x010000000100000000000000000000001EE894F4000000000902000000000000C901000000000000380286863800000004000A0000000000000000000000000007000000875922013AA400000600000000000000060000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F000000000400001000140000008040000000000000803F01000000040000100014000000803F000000000000803F060000000400000600000000000000
GO
UPDATE STATISTICS [dbo].[category]([PK_category]) WITH STATS_STREAM = 0x010000000100000000000000000000002F87F73D000000002802000000000000E801000000000000380300003800000004000A0000000000000000000000000007000000C13E22013AA40000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F000000000000803F060000000400000600000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[category] ON
INSERT [dbo].[category] ([category_id], [category_name], [parent_id]) VALUES (1, N'Điện thoại', 0)
INSERT [dbo].[category] ([category_id], [category_name], [parent_id]) VALUES (2, N'Laptop', 2)
INSERT [dbo].[category] ([category_id], [category_name], [parent_id]) VALUES (3, N'Nokia', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
/****** Object:  Table [dbo].[product]    Script Date: 08/12/2016 23:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NULL,
	[category_id] [int] NULL,
	[description] [nvarchar](500) NULL,
	[price] [int] NULL,
	[product_img] [nvarchar](100) NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_1DE57479] ON [dbo].[product]([product_name]) WITH STATS_STREAM = 0x01000000010000000000000000000000C3060CC30000000053040000000000001304000000000000E7020000E7000000C80000000000000008D000340000000007000000FA0B720117A4000007000000000000000700000000000000000000002549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000070000000700000001000000100000004992E4410000E040000000004992E441000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000A1010000000000009F02000000000000A702000000000000380000000000000069000000000000009A00000000000000CD0000000000000006010000000000003B010000000000006801000000000000300010000000803F000000000000803F040000010031004300E51E630020006700A11E6300680020003100300038003000300010000000803F000000000000803F040000010031004300E51E630020006700A11E6300680020003100320030003200300010000000803F000000000000803F040000010033004700610020006C00E10020007800EC0020006E00F300740020003300300010000000803F000000000000803F040000010039006900200070006800F4006E00200036002000280074006800B001DD1E6E0067002900300010000000803F000000000000803F040000010035006900200070006800F4006E002000360020006200DD1E20006C00DB1E7400300010000000803F000000000000803F04000001002D004C00750020006700A11E630068002000350033003000300010000000803F000000000000803F04000001003900530003016D00200074007200D51E2000470061006C0061007800EC00200053003300FF0100000000000000070000000700000028000000280000000000000000000000510000004300E51E630020006700A11E63006800200031003000380030003200300032004700610020006C00E10020007800EC0020006E00F3007400200033006900200070006800F4006E00200036002000280074006800B001DD1E6E00670029006200DD1E20006C00DB1E74004C00750020006700A11E630068002000350033003000530003016D00200074007200D51E2000470061006C0061007800EC002000530033000A0000004000000000C00A00000081030A000001030D0000810E100000C0091E0000810827000001062F0000810B3500000111400000000700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_1DE57479] ON [dbo].[product]([category_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000FD0B4FB100000000EA01000000000000AA010000000000003802803F3800000004000A0000000000000000000003016D070000007BC9710117A40000070000000000000007000000000000000000003FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E000000000000004600000000000000100000000000000027000000000000001000140000004040000000000000803F0300000004000010001400000000400000004000000040050000000400000700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_1DE57479] ON [dbo].[product]([description]) WITH STATS_STREAM = 0x0100000001000000000000000000000060BE305000000000DA060000000000009A06000000000000E702DD1EE7000000E80300000000000008D000340000000007000000FA0B720117A4000007000000000000000700000000000000000000002549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000070000000700000001000000100000006EDB92420000E040000000006EDB9242000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000DB0200000000000026050000000000002E0500000000000038000000000000008500000000000000C80000000000000025010000000000009401000000000000DF010000000000005802000000000000300010000000803F000000000000803F04000001004D0063006800E91E630020006E0003016E00670020006700CD1E6900200063006800CD1E690020006E006800AF1E6E002000740069006E00300010000000803F000000000000803F0400000100430063006800E91E630020006E0003016E00670020006E006800B00120006300E51E630020003100320030003200300010000000803F000000000000803F04000001005D006900200070006800F4006E002000360020006200DD1E20006C00DB1E740020001101F3002E0020006B006800F4006E006700200062006900BF1E74002000E00020003F003F00300010000000803F000000000000803F04000001006F006900700068006F006E00650020003600200063006800E91E20006300F30020006300E100690020006700EC0020006D00E000200070006800A31E690020006D00F40020007400A31E2C0020006E0067007500200076006C00300010000000803F000000000000803F04000001004B006E00F30074002000330020006E00F30074002000340020006700EC0020001101A51E7900200063006800B001610020007200F500300010000000803F000000000000803F04000001007900730003016D00200063006D006E002000730075006E0067002000670061006C0061007800790020005300330020006C006F00A11E690020006700A71E6E0020006D00DB1E690020006E006800A51E7400200068006900C71E6E0020006E0061007900300010000000803F000000000000803F040000010083007300DD1E20006D00ED007400200070006800F4006E0020006300F300200063006800E91E630020006E0003016E00670020006E006800B0012000730074007500700069006400200070006800F4006E00200074006800F40069002E0020006E006700750020007600D31E6E00FF0100000000000000070000000700000028000000280000000000000000000000F500000063006800E91E630020006E0003016E00670020006700CD1E6900200063006800CD1E690020006E006800AF1E6E002000740069006E006E006800B00120006300E51E6300200031003200300032006900200070006800F4006E002000360020006200DD1E20006C00DB1E740020001101F3002E0020006B006800F4006E006700200062006900BF1E74002000E00020003F003F00700068006F006E00650020003600200063006800E91E20006300F30020006300E100690020006700EC0020006D00E000200070006800A31E690020006D00F40020007400A31E2C0020006E0067007500200076006C006E00F30074002000330020006E00F30074002000340020006700EC0020001101A51E7900200063006800B001610020007200F500730003016D00200063006D006E002000730075006E0067002000670061006C0061007800790020005300330020006C006F00A11E690020006700A71E6E0020006D00DB1E690020006E006800A51E7400200068006900C71E6E0020006E0061007900DD1E20006D00ED007400200070006800F4006E0020006300F300200063006800E91E630020006E0003016E00670020006E006800B0012000730074007500700069006400200070006800F4006E00200074006800F40069002E0020006E006700750020007600D31E6E000B0000004000000000C00A00000081110A0000010C1B0000C0012700008122280000012B4A0000811A75000040018F000081309000000135C00000000700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_1DE57479] ON [dbo].[product]([price]) WITH STATS_STREAM = 0x010000000100000000000000000000005506C4E20000000085020000000000004502000000000000380220003800000004000A0000000000000000003300200007000000F00B720117A4000007000000000000000700000000000000000000002549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000007000000070000000100000014000000000080400000E0400000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000D900000000000000E10000000000000038000000000000004F0000000000000066000000000000007D000000000000009400000000000000AB00000000000000C200000000000000100014000000803F000000000000803F801A0600040000100014000000803F000000000000803FC0270900040000100014000000803F000000000000803FC0C62D00040000100014000000803F000000000000803F80969800040000100014000000803F000000000000803F001BB700040000100014000000803F000000000000803F002D3101040000100014000000803F000000000000803F80B14F010400000700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_1DE57479] ON [dbo].[product]([product_img]) WITH STATS_STREAM = 0x010000000100000000000000000000002769C14800000000DB010000000000009B01000000000000E7020000E7000000C80000000000000008D000347F00000007000000F00B720117A4000007000000000000000700000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000E0400000E040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000700000007000000010000002800000028000000000000000000000000000000010000000000000000000700000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_1DE57479] ON [dbo].[product]([user_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000075C4CA700000000CB010000000000008B01000000000000380200003800000004000A000000000000000000E70000000700000084C9710117A4000007000000000000000700000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000E040000000000000803F010000000400000700000000000000
GO
UPDATE STATISTICS [dbo].[product]([PK_product]) WITH STATS_STREAM = 0x010000000100000000000000000000007B0952BD000000002802000000000000E801000000000000380300003800000004000A000000000000000000000000000700000051C9710117A40000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000E04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F070000000400000700000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[product] ON
INSERT [dbo].[product] ([product_id], [product_name], [category_id], [description], [price], [product_img], [user_id]) VALUES (1, N'IP', 5, N'IP 6', 20000000, N'upload/iphone6.jpg', 1)
INSERT [dbo].[product] ([product_id], [product_name], [category_id], [description], [price], [product_img], [user_id]) VALUES (2, N'Nokia 1202', 3, N'Nghe gọi', 400000, N'upload/no1202.jpg', 1)
INSERT [dbo].[product] ([product_id], [product_name], [category_id], [description], [price], [product_img], [user_id]) VALUES (3, N'1080', 3, N'Nghe gọi', 600000, N'upload/no1080.jpg', 1)
SET IDENTITY_INSERT [dbo].[product] OFF
/****** Object:  ForeignKey [FK_product_category]    Script Date: 08/12/2016 23:28:08 ******/
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_category]
GO
